.first{
    padding-top: 8em;
}
/* Header */
.navbar {
    max-width: 1300px;
    padding: 0 30px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    background: var(--bg-color);
    box-shadow: 0px 1px 5px var(--black);
    transition: all 0.3s ease;
}

header.sticky {
    padding: 12px 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .title a {
    color: var(--font-color);
    font-size: 35px;
    font-weight: 600;
    transition: all 0.3s ease;
    padding-left: 10px;
}

header .title a span {
    color: var(--theme-color);
    transition: all 0.3s ease;
}

header.sticky .title a span {
    color: var(--white);
    transition: all 0.3s ease;
}

header.sticky .title a {
    color: #060606;
    transition: all 0.3s ease;
}

header .navbar__menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    color: var(--white);
}

header .navbar__menu li a {
    display: block;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    color: var(--font-color);
}

header .navbar__menu li a:hover {
    color: var(--theme-color);
}

header.sticky .navbar__menu li a {
    color: var(--white);
}

header.sticky .navbar__menu li a:hover {
    color: var(--font-color);
}

/* Footer */
.footer--link{
    color: var(--white);
    position: relative;
    top: -10px;
    left: 5px;
}

.footer--title{
    color: var(--white);
}
footer a:hover{
    color: var(--light-theme-color);

}

.footer__box--first {
    overflow: hidden;
    padding: 30px 20px 0px 20px ;
    font-size: 15px;
    background-color: var(--grey);
}
.footer__name::before{
    content:url(images/github-logo.svg);
}
.footer__email::before{
    content:url(s/icon-email.svg);
}

.footer__box--small{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--black);
    text-align: center;
}

.img--logo{
    width: 32px;
    height: 32px;
    filter: var(--white)
}
.copy {
    font-size: 16px;
    color: var(--white);
    padding-right: 3px;
}

/* Hamburger menu */
label input {
  display: none; 
}

@media only screen and (max-width: 800px){
  header .navbar__menu   {
    flex-direction: column;
    display: flex;
  }
  label .menu {
      position: absolute;
      padding: 0px 40px 0px 50px;
      z-index: 1;
      width: 100%;
      height: 5%;
      display: block;
      background: #FFF;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
      cursor: pointer;
      
  }
  
  label .hamburger {
      position: relative;
      top: -20px;
      left: 75%;
      width: 30px;
      height: 2px;
      display: block;
      background: var(--black);
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
  }
  
  label .hamburger:after, label .hamburger:before {
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: var(--black);
  }
  
  label .hamburger:before { 
      top: -10px;
  }
  
  label .hamburger:after { 
      bottom: -10px; 
  }
  
  label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;

  }

  label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  }

  label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;

  }

  label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;

  }

  label input:checked + .menu + nav { 
      top: 250px; 
  }

  label nav {
  z-index: 200;
  position: absolute;
  top: -1000px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  }
  header{
    display: inline;
  }
  .navbar__menu li a{
    font-size: x-large;
    padding-top: 20px;
  }
}