.first{
    padding-top: 8em;
}
/* Header */
.navbar {
    max-width: 1300px;
    padding: 0 30px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    background: var(--bg-color);
    box-shadow: 0px 1px 5px var(--black);
    transition: all 0.3s ease;
}

header.sticky {
    padding: 12px 0;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar__title a {
    color: var(--font-color);
    font-size: 35px;
    font-weight: 600;
    transition: all 0.3s ease;
}

header .navbar__title a span {
    color: var(--theme-color);
    transition: all 0.3s ease;
}

header.sticky .navbar__title a span {
    color: var(--white);
    transition: all 0.3s ease;
}

header.sticky .navbar__title a {
    color: #060606;
    transition: all 0.3s ease;
}

header .navbar__menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    color: var(--white);
}

header .navbar__menu li a {
    display: block;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    color: var(--font-color);
}

header .navbar__menu li a:hover {
    color: var(--theme-color);
}

header.sticky .navbar__menu li a {
    color: var(--white);
}

header.sticky .navbar__menu li a:hover {
    color: var(--font-color);
}

/* Footer */
.footer--link{
    color: var(--white);
    position: relative;
    top: -10px;
    left: 5px;
}

.footer--title{
    color: var(--white);
}
footer a:hover{
    color: var(--light-theme-color);

}

.footer__box--first {
    overflow: hidden;
    padding: 30px 20px 0px 20px ;
    font-size: 15px;
    background-color: var(--grey);
}
.footer__name::before{
    content:url(images/github-logo.svg);
}
.footer__email::before{
    content:url(images/icon-email.svg);
}

.footer__box--small{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--black);
    text-align: center;
}

.img--logo{
    width: 32px;
    height: 32px;
    filter: var(--white)
}
.copy {
    font-size: 16px;
    color: var(--white);
    padding-right: 3px;
}

/* Hamburger menu */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.navbar__menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .navbar__menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .navbar__menu li {
    height: 0 r;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid rgb(81, 81, 81);
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .navbar__menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #f9f9f9;
  }
  .navbar__menu > li {
    border-bottom: 1px solid rgb(188, 185, 185);
  }
  .navbar__menu > li:nth-child(1) {
    border-top: 1px solid rgb(188, 185, 185);
    margin-top: 1em;
  }
}